*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Mukta", sans-serif;
    font-weight: 800;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Minimum height of the viewport */
}


body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */

  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Ensure video is behind other content */
}

header {
    background-color: #292929; /* Background color of the header */
    color: #fff; /* Text color of the header */
    padding: 2px 0; /* Padding around the header content */
    position: fixed;
    width: 100%;
    z-index: 1;
}

#home{
    width: 5%;
    height: 5%;
}

main {
    flex: 1; /* Main content takes up remaining space */
}

.container {
    width: 80%; /* Width of the header content */
    margin: 0 auto; /* Center aligning the content */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container img:hover{
    cursor: pointer;
}

h1 {
    margin: 0; /* Remove default margin for h1 */
}

nav ul {
    list-style-type: none; /* Removes default bullet points */
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline; /* Display list items horizontally */
    margin-left: 20px; /* Add space between list items */
}

nav ul li a {
    color: #fff; /* Link text color */
    text-decoration: none; /* Remove underline from links */
}

nav ul li a:hover {
    text-decoration: underline; /* Underline on hover */
}

#flex-container{
    width: 100%;
    height: fit-content;
}

.split{
    display: flex;

    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 80px;
    
}

.sidebar{
    border: 1px solid #e4f500;
    color: #fff;
    background-color: #000000;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}

#bar{
    width: 350px;
    height: fit-content;
}


.sidebar img{
    width: 70%;
    height: 70%;
    margin: auto;
}

.infoBar{
    min-width: 70vw;
    max-width: 70vw;
    max-height: fit-content;
    
    border: 1px solid #e4f500;

    background-color: #000000;

    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

p{
    max-width: 69vw;
    color: #fff;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 5.5vw;
}

.section{
    text-align: center;
    color: #000000;
    background-color: aqua;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
}

.mini-container{
    display: flex;
    flex-direction: row;
}

.pins{
    min-width: 150px;
    text-align: center;
    background-color: aqua;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.sub-section{
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.sub-section{
    background-color: rgb(77, 211, 211);
    display: flex;
    align-items: center;
    
    -webkit-clip-path: polygon(0 0,calc(100% - 10px) 0,100% 100%,0 100%);
    clip-path: polygon(0 0,calc(100% - 10px) 0,100% 100%,0 100%);
    padding: .2em 1.5em .2em .5em;
    
}

.sub-section::before{
    content: "";
    display: inline-block;
    margin-right: .2em;
    width: 1.2em;
    height: 1.2em;
    background-color: #000;
    -webkit-mask-position: 0 -100%;
    mask-position: 0 -100%
}

.sub-section::before{
    -webkit-mask-image: url(https://cdn.discordapp.com/attachments/1262582032966357022/1264238580167999500/site-icon.png?ex=669d256d&is=669bd3ed&hm=4182f8f82bedd88cf0cf8bff46e2b96ce9482ee76cf714fcfb65adedfe7a0dc4&);
    mask-image: url(https://cdn.discordapp.com/attachments/1262582032966357022/1264238580167999500/site-icon.png?ex=669d256d&is=669bd3ed&hm=4182f8f82bedd88cf0cf8bff46e2b96ce9482ee76cf714fcfb65adedfe7a0dc4&);
    -webkit-mask-size: 700% 300%;
    mask-size: 700% 300%
}

hr{
    background-color: rgb(77, 211, 211);
    border: 2px solid rgb(77, 211, 211);
    height: 1px;
    margin-bottom: 20px;
}

.sub-section{
    margin-top: 20px;
}

.paragraph{
    padding-left: 5px;
    padding-bottom: 5px;
    margin: auto;
}