*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Mukta", sans-serif;
    font-weight: 800;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Minimum height of the viewport */
}


body, html {
    height: 800px;
  }
  
  .bg {
    /* The image used */

  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /* Ensure video is behind other content */
  }

main {
    flex: 1; /* Main content takes up remaining space */
}

#logoImg{
    width: 30%;
    height: 30%;
}

.logo{
    
    display: flex;
    justify-content: center;
    padding-top: 12vw;
    opacity: 0;
    
    margin: auto;
    transform: translateY(20px); /* Start slightly below its final position */
    animation: fadeIn 1s ease-out forwards; /* Animation properties */
}

@keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0); /* Move to final position */
    }
  }

.flex{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;

    opacity: 0;
    transform: translateY(20px); /* Start slightly below its final position */
    animation: fadeIn 1s ease-out forwards; /* Animation properties */
    animation-delay: .2s;
}

.flex div{
    margin: 10px;
}

.register{
    background-color: yellow;
    border-radius: 20px;
    min-width: 120px;
    min-height: 43px;
    text-align: center;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.register:hover{
    cursor: pointer;
    animation: button .1s ease-in;
    animation-fill-mode: forwards;
}

.register:not(:hover){
    animation: buttonLeave .2s ease-in;
    animation-fill-mode: forwards;
}
@keyframes button {
    to{
        background-color: #91a007;
        color: #fff;
    }
}
@keyframes buttonLeave {
    to{
        background-color: yellow;
        color: black;
    }
}

header {
    background-color: #000000; /* Background color of the header */
    color: #fff; /* Text color of the header */
    padding: 2px 0; /* Padding around the header content */
    position: fixed;
    width: 100%;
    z-index: 1;
}

#home{
    width: 5%;
    height: 5%;
}

.container {
    width: 80%; /* Width of the header content */
    margin: 0 auto; /* Center aligning the content */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container img:hover{
    cursor: pointer;
}

h1 {
    margin: 0; /* Remove default margin for h1 */
}

nav ul {
    list-style-type: none; /* Removes default bullet points */
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline; /* Display list items horizontally */
    margin-left: 20px; /* Add space between list items */
}

nav ul li a {
    color: #fff; /* Link text color */
    text-decoration: none; /* Remove underline from links */
}

nav ul li a:hover {
    text-decoration: underline; /* Underline on hover */
}

img{
    width: 5vw;
    height: 5vw;
}

footer {
    background-color: #91a007; /* Background color of the footer */
    color: #d4cfcf; /* Text color of the footer */
    padding: 10px 0; /* Padding around the footer content */
    width: 100%; /* Full width */
    bottom: 0; /* Stick to the bottom of the viewport */
}

.footer-left,
.footer-right {
    flex: 1; /* Equal width for left and right sections */
}

.footer-right {
    text-align: right; /* Align contents to the right */
}

.fa {
    width: 16px;
    font-size: 30px;
    padding: 15px;
    padding-top: 10px;
    height: 10px;
    text-align: center;
    text-decoration: none;

}
  
  /* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}
  
  /* Set a specific color for each brand */
  
  /* Facebook */
.fa-facebook {
    background: black;
    color: white;
    border: white solid 2px;
}
  
  /* Twitter */
.fa-twitter {
    background: black;
    color: white;
    border: white solid 2px;
}

h3{
    font-size: 18px;
    margin: auto;
}

.hover-button-a {
    display: flex;
    padding: 12px 12px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 255, 255, 0.3);
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    height: fit-content;
    width: 400px;

    border: 4px solid rgba(0, 238, 255, 1);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.4s, background-color 0.4s;
  }
  
  .hover-button-a::before {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 300%;
    top: 0;
    left: 0;
    transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    transform: translateY(-100%);
  }
  
  .hover-button-a:hover::before {
    transform: translateY(0);
  }
  
  .hover-button-a:hover {
    color: white;
    background-color: rgb(0, 238, 255);
  }

  .hover-button-a img{
    transition: transform 0.3s ease;
  }

  .hover-button-a:hover img{
    transform: scale(1.07);
  }

  .hover-button-b {
    display: flex;
    padding: 12px 12px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 71, 230, 0.3);
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    height: fit-content;
    width: 400px;

    border: 4px solid rgb(255, 71, 240);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.4s, background-color 0.4s;
  }
  
  .hover-button-b::before {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 300%;
    top: 0;
    left: 0;
    transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1);
    transform: translateY(-100%);
  }
  
  .hover-button-b:hover::before {
    transform: translateY(0);
  }
  
  .hover-button-b:hover {
    color: white;
    background-color: rgb(255, 71, 240);
  }

  .hover-button-b img{
    transition: transform 0.3s ease;
  }

  .hover-button-b:hover img{
    transform: scale(1.07);
  }

  .buddies{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.2vw;
    opacity: 0;
    transform: translateY(20px); /* Start slightly below its final position */
    animation: fadeIn 1s ease-out forwards; /* Animation properties */
    animation-delay: .4s;
    
  }

  .buddies img{
    width: 30%;
    height: 100%;
    align-items: flex-start;
  }

 .buddies h2{
    padding-left: 12px;
    font-size: 25px;
    text-align: center;
 }

 .buddies p{
    color: rgb(209, 209, 209);
    text-align: center;
 }

 .chuni{
    display: flex;
    justify-content: center;
    align-items: center;
  padding-top: 1.2vw;
    opacity: 0;
    transform: translateY(20px); /* Start slightly below its final position */
    animation: fadeIn 1s ease-out forwards; /* Animation properties */
    animation-delay: .4s;
  }

  .chuni img{
    width: 35.33%;
    height: 100%;
    align-items: flex-start;
  }

 .chuni h2{
    padding-left: 12px;
    font-size: 20px;
    text-align: center;
 }

 .chuni p{
    color: rgb(209, 209, 209);
    text-align: center;
 }

 .buttons{
    justify-content: center;
    width: 50%;
  
    margin: auto;
    margin-bottom: 20px;
 }
